:root {
    --background-colour: #f3f1f1;
    --text-colour: #1b2d2f;
    --header-colour: #133638;
    --header-text-colour:#ffffff;
    --header-hover-colour: #ffffff14;
    --border-colour: #ffffff33;
    --special-text-colour: #9b5a33;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    width:100%;
    min-height:100vh;
}

.container{
    display:flex;
    width:100%;
    min-height:100vh;
}

.left-panel{
    width:70%;
    background: var(--background-colour);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:40px;
}

.left-panel h1{
    font-size:52px;
    color:var(--text-colour);
    margin-bottom:20px;
    letter-spacing:2px;
}

.welcome{
    color:var(--special-text-colour);
    font-size:18px;
    letter-spacing:3px;
    margin-bottom:50px;
    font-weight:bold;
}

.image-box img{ 
    width:320px; max-width:100%; 
}

.right-panel{
    width:30%;
    background:var(--header-colour);
    color:var(--header-text-colour);

    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:70px;
}

.right-panel nav{
    width:75%;
}

.right-panel nav ul{
    list-style:none;
    width:100%;
}

.right-panel nav li{
    width:100%;
    border-top:1px solid var(--border-colour);
}

.right-panel nav li:last-child{
    border-bottom:1px solid var(--border-colour);
}

.right-panel nav a{
    display:block;
    width:100%;
    text-decoration:none;
    color:var(--header-text-colour);
    text-align:center;
    padding:20px 10px;
    transition:0.3s;
    font-size:14px;
    letter-spacing:1px;
}

.right-panel nav a:hover{
    background:var(--header-hover-colour);
}

/* ===============NIE RUSZAJ JUŻ TEGO CO NA GÓRZE JEST==========================*/

.employees-box{
    width:100%;
    max-width:900px;
}

.employees-box h1{
    text-align:center;
    margin-bottom:20px;
}

.employees-box h2{
    text-align:center;
    margin-bottom:40px;
    color:#1b2d2f;
}

.employees-table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

.employees-table th{
    background:#133638;
    color:white;
}

.employees-table th,
.employees-table td{
    padding:16px;
    border:1px solid #ddd;
    text-align:center;
}

.employees-table tr:hover{
    background:#f5f5f5;
}

/* =========================================
   DODAWANIE PRACOWNIKA
========================================= */

.page-content{
    width:100%;
    max-width:700px;
}

.page-content h1{
    text-align:center;
    margin-bottom:20px;

    color:#1b2d2f;

    letter-spacing:3px;
}

.page-content h2{
    text-align:center;

    margin-bottom:40px;

    color:#1b2d2f;

    font-weight:normal;
}

.form-container{
    width:100%;

    display:flex;
    justify-content:center;
}

.custom-form{
    width:100%;
    max-width:450px;

    display:flex;
    flex-direction:column;

    gap:20px;
}

.custom-form input{
    width:100%;
    padding:18px;
    border:none;
    border-radius:10px;
    background:#879696;
    color:white;
    font-size:16px;
    outline:none;
}

.custom-form input::placeholder{
    color:white;
}

.custom-form button{
    padding:18px;

    border:none;

    border-radius:10px;

    background:#133638;

    color:white;

    font-size:18px;
    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

.custom-form button:hover{
    opacity:0.9;
}

@media(max-width:900px){

    .container{
        flex-direction:column;
    }

    .left-panel{
        width:100%;
        min-height:60vh;
    }

    .right-panel{
        width:100%;
        padding-bottom:40px;
    }

    .content-box h1{
        font-size:40px;
    }

    .image-box img{
        width:240px;
    }
}